{% extends 'common/base.html' %}
{% load staticfiles %}

{% block content %}
    <div id="album-detail">
        <h4> {{ album.title }}</h4>
            <a href="{% url 'album:photo_multi_add' album_pk=album.pk %}" class="btn btn-primary btn-sm btn-top-right">
                <span class="glyphicon glyphicon-plus"></span>
                Photo Add
            </a>
        <div>
            <span>{{album.owner.email}}</span>
            {% if album.description %}
            <span>| {{ album.description }}</span>
            {% endif %}
        </div>
    </div>

    <div class="photo-list">
        {% for photo in album.photo_set.all %}
        <div class="col-xs-6 col-md-3">
            <div href="" class="thumbnail">
                <a href="">
                    <img src="{{ photo.url_thumbnail }}" alt="">
                </a>
                <div class="caption">
                    <div>
                        <strong>{{ photo.title }}</strong>
                    </div>
                    </div>
                    <div>
                        <span>{{ photo.owner.email }}</span>
                        {% if photo.description %}
                        <span>| {{ photo.description }}</span>
                        {% endif %}
                    </div>

                    <div class="like-container">
                        <button id="btn-photo-{{ photo.pk }}-like" onclick="photoLike({{photo.pk}},'like')"class="btn label label-default">
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                            <span id="photo-{{photo.pk}}-like-count">{{ photo.like_users.count}}</span>
                        </button>

                        <button id="btn-photo-{{ photo.pk }}-dislike" onclick="photoLike({{photo.pk}},'dislike')"class="btn label label-default">
                            <span class="glyphicon glyphicon-thumbs-down"></span>
                            <span id="photo-{{photo.pk}}-dislike-count">{{ photo.dislike_users.count}}</span>
                        </button>
                    </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}

{% block script %}
<script src="{% static 'js/photo/album_detail.js' %}"></script>
{% endblock %}
